fastapi==0.138.0
uvicorn==0.34.3
httpx==0.28.1
slowapi==0.1.9
python-jose[cryptography]==3.3.0
kafka-python-ng==2.2.3
setuptools==69.5.1
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-exporter-otlp-proto-grpc==1.27.0
opentelemetry-instrumentation-httpx==0.48b0
opentelemetry-exporter-zipkin==1.27.0
