fastapi==0.138.0
uvicorn==0.34.3
anthropic==0.49.0
kafka-python-ng==2.2.3
setuptools==69.5.1
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-instrumentation-fastapi==0.48b0
opentelemetry-exporter-zipkin==1.27.0
opentelemetry-propagator-b3==1.27.0
httpx==0.28.1
